@tailwind base;
@tailwind components;
@tailwind utilities;

.slick-prev:before, .slick-next:before{
  color: black !important;
  opacity: .60 !important;
}

.product-card:hover {
  transform: scale(1.02);
}

.collection-item-name:hover{
  color: red
}

.product-image-container {
  max-width: 500px;
}

.color-button{
  margin-right: 10px;
}

/* Scale up hit targets on high resolution mobile devices. */
@media (min-resolution: 200dpi) {
  html {
    font-size: 18px;
  }

  .text-sm {
    /* ensure minimum font size of 16px */
    font-size: 0.9rem;
  }
}
